@media (min-width: 360px) {
	.panel-heading {
		border-top-left-radius: 0px !important;
    	border-top-right-radius: 0px !important;
	}
	.panel-group {
		border-radius: 0px !important;
		background-color: white;
		margin-bottom: 0px !important;
	}

	/* Subscription panel-group */
	div#health-report {
	    border-bottom-left-radius: 20px !important;
	    border-bottom-right-radius: 20px !important;
	}
	/* Calendar */
	div#user {
	    border-top-left-radius: 20px !important;
	    border-top-right-radius: 20px !important;
	}
}

@media (min-width: 768px) {
	.panel-heading {
		border-top-left-radius: 15px !important;
	    border-top-right-radius: 15px !important;
	}
	.panel-group {
		margin-bottom: 20px !important;
	}

	/* Calendar */
	div#user {
	    border-bottom-left-radius: 0px !important;
	    border-bottom-right-radius: 0px !important;
	}

	/* Subscription panel-group */
	div#health-report {
	    border-bottom-left-radius: 0px !important;
	    border-bottom-right-radius: 0px !important;
	}
}

.panel-heading {
	background: #FF624A;
	padding: 20px !important;
}
.panel-heading a {
	color: white !important;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: white;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}


.panel-body {
	padding: 0px !important;
}

@media (min-width: 1200px) {
	.panel-group {
	    border-radius: 20px 20px !important;
	    background-color: white;
	    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
	}
}