/* Main wrapper */
div#whole-wrapper {
    padding: 20px;
}

/**
* User Account Designs.
*/
@media (min-width: 320px) {
    body {
        padding: 0px !important;
        overflow-x: hidden;
    }
}
body {
    padding: 50px;
    background-color: whitesmoke !important;
    overflow-x: hidden; 
    font-family: 'Roboto', sans-serif !important;
}
.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.circular {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/images.jpg) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-position:50% 50%;
    background-size: cover;
    margin: auto;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #fff;
    box-shadow: 0 0px 10px 15px red;
}

.profile-image {
    padding: 60px 100px 50px;
    background: #FF624A;
    /*background: -moz-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #FF624A), color-stop(5%, #FF624A), color-stop(39%, rgba(246,41,12,1)), color-stop(79%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to right, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#e73827', GradientType=1 ); */
}

#name {
    color: white;
}

#work {
    color: red;
    text-transform: uppercase;
    text-shadow: 0px 0px 7px white;
}

.profile-details {
    background-color: white;
    margin-top: -1em;
    padding: 20px 20px;
}

#title {
    color: red;
}

#info {
    color: black;
    margin-top: -0.5em;
}

/**
* Custom Panel for Change Password
*/
div#changeP {
    height: 70px;
    width: 80%;
    border-radius: 150px !important;
    float: right;
    margin-right: 10%;
    box-shadow: 0px 10px 15px grey;
    margin-bottom: 3em;
}

#changeP a {
    font-size: 22px;
}

label {
    font-weight: 0 !important;
}

/**
* Style for account user change password
*/
div#changePass {
    padding: 30px;
    margin-top: 5em;
    font-size: large;
    font-family: arial, sans-serif;
    color: white;
    background: #FF624A;
    /*background: -moz-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #FF624A), color-stop(5%, #FF624A), color-stop(39%, rgba(246,41,12,1)), color-stop(79%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(left, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to right, #FF624A 0%, #FF624A 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#e73827', GradientType=1 ); */
}

#changePass > .panel-body {
    padding: 15px;
    height: 15em;
    display: inline;
}

/* Form Groups in user Account */
.form-group {
    font-size: 20px;
}

.form-control {
    height: 40px !important;
}

/**
* Style for account user change password
*/
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #FF624A;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: red;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

/**
* CONNECTIONS TAB DESIGN
*/

div.connects 
{
    color: white;
}
.connections {
    padding: 30px;
    border-radius: 10px 10px;   
}

.sl-captions {
    position: relative;
    text-align: center;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(248,80,50,1);
    /*background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(9%, rgba(231,56,39,0.99)), color-stop(43%, rgba(246,41,12,0.93)), color-stop(74%, rgba(240,47,23,0.88)), color-stop(100%, rgba(241,111,92,0.84)));
    background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
    background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
    background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
    background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f16f5c', GradientType=1 );*/
}

.sl-captions >  h3 {
    font-weight: bold;
    text-transform: uppercase;
}

/**
* Customizing Calendar in Desktop Display.
*/
div#calendar {
    padding: 20px 0px -1px;
    background: #FF624A;
    color: black;
}

/* Buttons Arrangement in Desktop */
button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    position: absolute;
    left: 10%;
    background: transparent;
    border-style: none;
}

button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    position: absolute;
    right: 10%;
    background: transparent;
    border-style: none;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled,
button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
    position: absolute;
    left: 45%;
    top: 20%;
}

/* Date Today highlighted */
td.fc-day.fc-widget-content.fc-thu.fc-today.fc-state-highlight {
    background: #FF624A;
}

/* Calenday Scroll */
.fc-scroller.fc-day-grid-container {
    overflow-x: hidden;
    overflow-y: hidden !important;
    height: 100% !important;
}

/* Date name */
.fc-toolbar .fc-left {
    display: inline-block;
    float: none !important;
}

/**
* Changing the Color for the Month name in calendar.
*/
.fc-left > h2 {
    color: white;
    font-weight: bold;
}

/* Special color of the Sunday and Saturday in calendar. */
th.fc-day-header.fc-widget-header.fc-sun,
th.fc-day-header.fc-widget-header.fc-sat {
    color: red;
}

th.fc-day-header.fc-widget-header {
    color: white;
    font-size: large;
    font-weight: normal;
}

/**
* Calendar table contents
*/
.fc-row .fc-bg {
   background-color: white; /* #222 almost black background color in theme. */
}

/* Calendar Borders */
.fc th, .fc td {
    border-style: none !important;
}

.fc-view, .fc-view > table {
    margin-top: 5em;
}

/**
* Style for the Current Day.
*/

.fc td.fc-today {
    border-style: double;
    background-color: rgba(54, 162, 235, 0.5);
    color: black;
    font-weight: bold;
}

/** HEALTH REPORTS **/

/**
* Date choices
*/
.date-choice ul, nav ul {
    list-style-type: none;
    position: relative;
    width: 100%;
    right: 5%;
}
.date-choice li {
    float: left;
    margin-left: 5%;
}
.date-choice ul li a, nav ul li a {
    color: black !important; /*  rgba(255,99,132,1) -- PINK font color for labels. */
    font-weight: bold;
}

/**
* Style for the Charts
*/ 
div#health {
    padding: 30px 0px 0px;
    background-color: white;
}

/**
* Written stats in Health Report style.
*/
.stats-wrapper {
    padding: 50px;
    background-color: #FF624A;  /* Theme major color [ similar to red-orange. ]*/
    margin-top: 20px;
    height: 20em;
    color: white;
    /*background: rgba(248,80,50,1);
    background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, #FF624A 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(9%, rgba(231,56,39,1)), color-stop(61%, #FF624A), color-stop(89%, rgba(246,41,12,1)), color-stop(100%, rgba(241,111,92,1)));
    background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, #FF624A 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
    background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, #FF624A 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, #FF624A 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
    background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, #FF624A 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f16f5c', GradientType=1 );*/
}

#stat-left {
    float: left;
}

@media (min-width: 320px) {
    #stat-right {    
        margin-left: 2px !important;
    }
}

#stat-right {
    float: right;
    margin-left: 10px;
}

div#cardio-stats, div#time-stats, div#bpm-stats {
    position: relative;
    float: left;
    margin-top: 1em;
}

div#cal-stats, div#pace-stats, div#speed-stats {
    position: relative;
    float: right;
    margin-top: 1em;
}

/**
* Subscription Designs.
*/
#subscript {
    padding: 20px;
}

.form-left {
    float: left;
    width: 78% !important;
}

.form-right {
    float: right;
    width: 20% !important;
}

button.btn.btn-primary {
    margin-top: 2.3em;
    background-color: #FF624A;
    border-color: red;
}

#subscription .panel-body {
    height: 150px;
}

/**
* Food Diary Styles.
*/
div#food-diary { /* Main wrapper */
    padding: 15px 0px;
}

nav ul li { /* Nav tabs */
    left: 5%;
}

nav#food-diary-today-nav {
    border-radius: 0px !important;
}

ul.nav.nav-pills {
    width: 100%;
    right: 0;
    background-color: #FF624A;
}

/**
* Styles for Navigation in today tab
* and in the modal when adding new nutrition goal.
*/

nav#food-diary-today-nav > ul > li, div#nutrient-choices > ul > li {
    width: 100%;
    left: 0 !important;
    border: 1px solid white;
    margin-bottom: 1px;
    padding: 5px;
}

nav#food-diary-today-nav > ul > li > a, div#nutrient-choices > ul > li > a {
    color: white !important;
    text-transform: uppercase;
}

.nav-pills>li+li {
    margin-left: 0px !important;
}

/*      When tab is selected effect.    */
nav#food-diary-today-nav > ul > li > a:focus, nav#food-diary-today-nav > ul > li > a:hover {
    color: black !important;
}

span.total-cal {
    float: right;
    margin-top: 0em;
    font-size: smaller;
    margin-right: 5%;
    z-index: 5;
    font-weight: normal;
}

/**
* Initial Tab Display on Refresh.
*/ 
div#journal, div#food-report, div#goals {
    display: none;
}

/**
* Canvas sizes in food diary on different devices.
*/

@media (min-width: 320px) {
    #journal canvas {
    width: 310px !important;
    height: 310px !important;
    margin: 25px 0px 25px -15px;
    }
}

@media (min-width: 360px) {
    #journal canvas {
    width: 350px !important;
    height: 350px !important;
    margin: 25px 0px 25px -15px;
    }
}


/* Background color for the journal in Food Diary. */
div#journal {
    background-color: #FFE2CA;
}

.well {
    font-weight: bolder;
    background-color: #FFE2CA !important;
}

.journal-info-right {
    float: right;
    width: 50%;
    margin-top: 25px;
}

.journal-info-left {
    float: left;
    width: 50%;
}

/* Customizin design in the Food diary journal carousel. */
.unslider-nav ol li {
    border: 5px solid red !important;
}
/**
* Food diary today captions content wrapper.
*/
.no-items-wrapper {
    text-align: center;
}

/* Button for modal - to add new item in Food Diary. */
.btn-danger {
    float: right;
    border-radius: 150px !important;
    margin-right: 25px !important;
    height: 40px !important;
    width: 40px !important;
    box-shadow: 1px 4px 10px gray !important;
    background-color: #FF624A !important;
    border-color: white !important;
}

/**
* Custom Meal buttons in the Journal Food diary.
*/
div#breakmeal {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/breakfast.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    float: left;
    margin-left: 11%;
}
div#lunchmeal {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/lunch.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    float: left;
    margin-left: 5%;
}
div#dinnermeal {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/dinner1.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    float: left;
    margin-left: 5%;
}
div#snackmeal {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/snack.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    float: left;
    margin-left: 5%;
}

/* Hide the labels in the meal time buttons. */
.meal-time > label {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-shadow: 0px 1px 15px black;
}

/* Button Labels */
#bf-label {
    top: 95%;
    left: 25%;
}

#lunch-label {
    top: 95%;
    left: 41%;   
}

#dinner-label {
    top: 95%;
    left: 58%;
}

#snack-label {
    top: 95%;
    left:74%;
}

/**
* Food diary Report.
*/
div#food-report {
    background-color: #FFFBE3;
}

.report-details {
    margin-top: 2em;
}
.report-details > p, .report-details > h1 {
    text-align: center;
    color: #CC1800;
}
.report-details small {
    color: #CC1800;
    float: right;
    margin-top: -2.5em;
    margin-right: 10%;
}

/**
* Food Diary Goals Styles.
*/
div#goals {
    background-color: #FFFBE3; /*#FFE2CA;*/
}
form#goal-form {
    padding: 10px 20px;
}
#goal-form > .form-group > label {
    font-size: initial;
}

label.add-on-nutrients {
    font-size: initial;
    margin-top: 1em;
}

div#goals .btn-default, div#modal-form-add-item .btn-info {
    color: white;
    background-color: #FF624A;
    border-color: red;
}

.btn {
    padding: 9px 12px !important; 
}

/**
* Food Diary form for adding new items styles.
*/
div#modal-form-add-item {
    padding: 10px !important;
    font-style: italic;
}
.modal-content {
    color: grey !important;
}

div#modal-form-add-item legend {
    font-size: 25px !important;
    text-align: center;
    font-weight: bolder;
    font-style: normal !important;
}

div#addFoodItem .modal-header {
    border-bottom: 2px solid red;
    background-color: #FF624A !important;
    color: white;
}

div#addFoodItem .modal-header .close {
    text-shadow: 0 1px 5px #fff;
    filter: alpha(opacity=20);
    opacity: 3.2;
    color: white;
}

/* Slider custom for bottom margin. */
div.my-slider > ul > li {
    margin-bottom: 20px;
}