/* Main wrapper */
div#whole-wrapper {
    padding: 20px;
}

/**
* User Account Designs.
*/
@media (min-width: 360px) {
	body {
		padding: 0px !important;
		overflow-x: hidden;
	}
}
body {
	padding: 50px;
	background-color: whitesmoke !important;
	overflow-x: hidden; 
}
.container {
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/images.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background-position:50% 50%;
	background-size: cover;
	margin: auto;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #fff;
    box-shadow: 0 0px 10px 15px red;
}

.profile-image {
	padding: 100px 100px 50px;
	background: rgba(240,47,23,1);
	background: -moz-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(5%, rgba(240,47,23,1)), color-stop(39%, rgba(246,41,12,1)), color-stop(79%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#e73827', GradientType=1 );
}

#name {
	color: white;
}

#work {
	color: red;
	text-transform: uppercase;
	text-shadow: 0px 0px 7px white;
}

.profile-details {
	background-color: white;
	margin-top: -1em;
	padding: 20px 20px;
}

#title {
	color: red;
}

#info {
	color: black;
	margin-top: -0.5em;
}

/**
* Custom Panel for Change Password
*/
div#changeP {
    height: 70px;
    width: 80%;
    border-radius: 150px !important;
    float: right;
    margin-right: 10%;
    box-shadow: 0px 10px 15px grey;
    margin-bottom: 3em;
}

#changeP a {
    font-size: 22px;
}

label {
	font-weight: 0 !important;
}

/**
* Style for account user change password
*/
div#changePass {
    padding: 30px;
    margin-top: 5em;
    font-size: large;
    font-family: arial, sans-serif;
    color: white;
    background: rgba(240,47,23,1);
	background: -moz-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(5%, rgba(240,47,23,1)), color-stop(39%, rgba(246,41,12,1)), color-stop(79%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 5%, rgba(246,41,12,1) 39%, rgba(241,111,92,1) 79%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#e73827', GradientType=1 );
}

#changePass > .panel-body {
    padding: 15px;
    height: 15em;
    display: inline;
}

/* Form Groups in user Account */
.form-group {
	font-size: 20px;
}

.form-control {
	height: 40px !important;
}

/**
* Style for account user change password
*/
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: rgba(240,47,23,1);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: red;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

/**
* CONNECTIONS TAB DESIGN
*/

div.connects 
{
	color: white;
}
.connections {
	padding: 30px;
	border-radius: 10px 10px;	
}

.sl-captions {
    position: relative;
    text-align: center;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(248,80,50,1);
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(9%, rgba(231,56,39,0.99)), color-stop(43%, rgba(246,41,12,0.93)), color-stop(74%, rgba(240,47,23,0.88)), color-stop(100%, rgba(241,111,92,0.84)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(231,56,39,0.99) 9%, rgba(246,41,12,0.93) 43%, rgba(240,47,23,0.88) 74%, rgba(241,111,92,0.84) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f16f5c', GradientType=1 );
}

.sl-captions >  h3 {
	font-weight: bold;
	text-transform: uppercase;
}

/**
* Customizing Calendar in Desktop Display.
*/
div#calendar {
    padding: 20px 0px -1px;
    background: rgba(240,47,23,1);
    color: black;
}

/* Buttons Arrangement in Desktop */
button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    position: absolute;
    left: 10%;
    background: transparent;
    border-style: none;
}

button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    position: absolute;
    right: 10%;
    background: transparent;
    border-style: none;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled,
button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
    position: absolute;
    left: 45%;
    top: 20%;
}

/* Date Today highlighted */
td.fc-day.fc-widget-content.fc-thu.fc-today.fc-state-highlight {
	background: rgba(240,47,23,1);
}

/* Calenday Scroll */
.fc-scroller.fc-day-grid-container {
    overflow-x: hidden;
    overflow-y: hidden !important;
    height: 100% !important;
}

/* Date name */
.fc-toolbar .fc-left {
    display: inline-block;
    float: none !important;
}

/**
* Calendar table contents
*/
.fc-row .fc-bg {
   background-color: white; /* #222 almost black background color in theme. */
}

/* Calendar Borders */
.fc th, .fc td {
    border-style: none !important;
}

.fc-view, .fc-view > table {
    margin-top: 5em;
}

/**
* Style for the Current Day.
*/

.fc td.fc-today {
    border-style: double;
    background-color: rgba(54, 162, 235, 0.5);
    color: black;
    font-weight: bold;
}

/** HEALTH REPORTS **/

/**
* Date choices
*/
.date-choice ul, nav ul {
	list-style-type: none;
    position: relative;
    width: 100%;
    right: 5%;
}
.date-choice li {
    float: left;
    margin-left: 5%;
}
.date-choice ul li a, nav ul li a {
    color: black !important; /*  rgba(255,99,132,1) -- PINK font color for labels. */
    font-weight: bold;
}

/**
* Style for the Charts
*/ 
div#health {
    padding: 30px 0px 0px;
    background-color: white;
}

/**
* Written stats in Health Report style.
*/
.stats-wrapper {
    padding: 50px;
   	background-color: rgba(240,47,23,1);  /* Theme major color [ similar to red-orange. ]*/
    margin-top: 20px;
    height: 20em;
    color: white;
	/*background: rgba(248,80,50,1);
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, rgba(240,47,23,1) 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(9%, rgba(231,56,39,1)), color-stop(61%, rgba(240,47,23,1)), color-stop(89%, rgba(246,41,12,1)), color-stop(100%, rgba(241,111,92,1)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, rgba(240,47,23,1) 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, rgba(240,47,23,1) 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, rgba(240,47,23,1) 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 9%, rgba(240,47,23,1) 61%, rgba(246,41,12,1) 89%, rgba(241,111,92,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f16f5c', GradientType=1 );*/
}

#stat-left {
	float: left;
}

#stat-right {
	float: right;
	margin-left: 10px;
}

div#cardio-stats, div#time-stats, div#bpm-stats {
    position: relative;
    float: left;
    margin-top: 1em;
}

div#cal-stats, div#pace-stats, div#speed-stats {
	position: relative;
	float: right;
	margin-top: 1em;
}

/**
* Subscription Designs.
*/
#subscript {
	padding: 20px;
}

.form-left {
	float: left;
}

.form-right {
	float: right;
}

@media (min-width: 360px) {
	input#subscribe {
	    width: 14em;
	}
}

@media (min-width: 768px) {
	input#subscribe {
	    width: 17em;
	}
}

button.btn.btn-primary {
    margin-top: 2.3em;
    background-color: rgba(240,47,23,1);
    border-color: red;
}

#subscription .panel-body {
    height: 150px;
}

/**
* Food Diary Styles.
*/
div#food-diary { /* Main wrapper */
    padding: 15px 2px;
}

nav ul li { /* Nav tabs */
	left: 5%;
}